#udk sys files
Binaries/
Engine/
Development/Flash
Development/Src/Core
Development/Src/Engine
Development/Src/GameFramework
Development/Src/GFxUI
Development/Src/GFxUIEditor
Development/Src/IpDrv
Development/Src/MyMod
Development/Src/OnlineSubsystemGameCenter
Development/Src/OnlineSubsystemPC
Development/Src/OnlineSubsystemSteamworks
Development/Src/SubstanceAir
Development/Src/SubstanceAirEd
Development/Src/UDKBase
Development/Src/UnrealEd
Development/Src/WinDrv
UDKGame/Autosaves
UDKGame/Build
UDKGame/Localization
UDKGame/Logs
UDKGame/Movies
UDKGame/ProjectTemplates
UDKGame/Script
UDKGame/Splash
UDKGame/Content/Maps
UDKGame/Content/Shared
*.txt
*.sln
*.ucproj
*.suo


UDKGame/Content/GameAssetDatabase.checkpoint
UDKGame/Content/GlobalShaderCache-PC-D3D-SM3.bin
UDKGame/Content/GlobalShaderCache-PC-D3D-SM5.bin
UDKGame/Content/GlobalShaderCache-PC-OpenGL.bin
UDKGame/Content/RefShaderCache-PC-D3D-SM3.upk
UDKGame/Content/RefShaderCache-PC-OpenGL.upk
UDKGame/Content/RefShaderCache-PC-D3D-SM5.upk
*.user
UDKGame/Cloud/CloudStorage.ini
UDKGame/Content/GameAssetDatabase.journal
UDKGame/Config/UDKEditor.ini
UDKGame/Config/UDKEditorUserSettings.ini
UDKGame/Config/UDKEditor.ini